<body>
  <h1 class="text-center my-3">ユーザー編集</h1>

  <div class="container">
  <div class="card mx-auto col-8 float-center bg-secondary mb-5 my-3">
  <article class="card-body py-3">
   <%= form_for(@user) do |f| %>

   <%= f.label :email, "email" , class: 'form-group py-1' %><br>
   <%= f.text_field :email,  class: 'form-control' %>

   <%= f.label :surname, "名前", class: 'form-group py-1' %><br>
   <%= f.text_field :surname,class: 'form-control' %>

   <%= f.radio_button(:role, "general") %>
   <%= f.label(:role, "general", value: "general")  %>
   <%= f.radio_button(:role, "admin") %>
   <%= f.label(:role, "admin", value: "admin") %><br>

   <%= f.submit :class=>"btn btn-primary my-2" %>
    <%= link_to '戻る', :back, class: 'btn btn-dark my-2' %>
    <% end %>
  </article>
　　</div> <!-- card.// -->
  </div>

</body>
