
<% if current_user.admin? %>

 <% done = 0%>
 <% delay = 0%>
 <% ontime = 0%>
 <% ahead = 0%>

<u1><% @users.each do |user| %>
  <li>
  <%= user.id %><br>
  <%= user.role %>
  <%= link_to '編集', edit_user_path(user.id), class: "btn btn-outline-info my-1 mp-1" %><br>
    <% unless user.ticket_watchers.empty?%>
      <% @tickets.each do |ticket| %>
      <%= ticket.category %><br>
      <%= ticket.status %>
      <% case ticket.status %>
      <% when "未着手" %>
      <% done += 1 %>
      <% when "遅延" %>
      <% done += 1 %>
      <% when "予定通り" %>
      <% done += 1 %>
      <% when "前倒し" %>
      <% done += 1 %>
      <% end %>

      <%= ticket.PIC %>
      <% end %>
    <% end %>
</li>
  <% end %>
  <br><h3>サマリ</h3>
  <%= "未着手:#{done}"  %><br>
  <%= "遅延:#{delay}"  %><br>
  <%= "予定通り:#{ontime}" %><br>
  <%= "前倒し:#{ahead}" %>

<% else %><br>

<p>テスト表示※後で削除</p>
<p>最終的にユーザー名のみ表示</p>
<u1><% @users.each do |user| %>
  <li>
  <%= user.id %><br>
  <%= user.role %>
  <%= link_to '編集', edit_user_path(user.id), class: "btn btn-outline-info my-1 mp-1" %><br>


</li>
  <% end %>
  <% end %>
