
<% if current_user.admin? %>

<u1><% @users.each do |user| %>
  <li>
  <%= user.id %><br>
  <%= user.role %>
  <%= link_to '編集', edit_user_path(user.id), class: "btn btn-outline-info my-1 mp-1" %><br>
    <% unless user.ticket_watchers.empty?%>
      <% @tickets.each do |ticket| %>
      <%= ticket.category %><br>
      <%= ticket.status %>
      <%= ticket.PIC %>
      <% end %>
    <% end %>
</li>
  <% end %>

<% else %><br>

<p>テスト表示※後で削除</p>
<p>最終的にユーザー名のみ表示</p>
<u1><% @users.each do |user| %>
  <li>
  <%= user.id %><br>
  <%= user.role %>
  <%= link_to '編集', edit_user_path(user.id), class: "btn btn-outline-info my-1 mp-1" %><br>


</li>
  <% end %>
  <% end %>
