<head>
  <title>チケット一覧</title>
</head>
<style type="text/css">
  .statusdelay {background-color: salmon;}
  .statuscomp {background-color: gainsboro;}
  .statusdelaycomp {background-color: gainsboro;}
</style>


  <body>
    <%= render 'layouts/header' %>
    <h1 class="text-center">チケット一覧</h1>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>カテゴリ</th>
            <th>題名</th>
            <th>担当者</th>
            <th>ステータス</th>
            <th>開始日</th>
            <th>期日</th>
            <th>進捗率</th>
            <th>ウォッチャー</th>
            <th>操作</th>
        </thead>
        <tbody id = ticketlist>
          <% @tickets.each do |ticket| %>
            <tr>
              <th><%= ticket.id %></th>
              <th><%= ticket.category %></th>
              <th><%= ticket.title %></th>
              <th><%= ticket.PIC %></th>
              <th><%= ticket.status %></th>
              <th><%= ticket.start_date %></th>
              <th><%= ticket.due_date %></th>
              <th><%= ticket.progress_rate %></th>
              <th><%= ticket.watcher %></th>

              <th>
                <%= link_to '詳細', ticket_path(ticket), class: "btn btn-success mb-1" %>
                <!-- TODO 削除機能の実装 -->
                <%= link_to '削除', ticket_path(ticket), method: :delete, class: "btn btn-danger mb-1" %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
