<body>
   <h1 class="text-center my-3">チケット詳細</h1>

   <div class="container">
   <div class="card mx-auto col-8 float-center bg-secondary mb-5 my-3">
   <article class="card-body py-3">
     <%= form_for(@ticket) do |f| %>

     <%= f.label :category, "カテゴリ" , class: 'form-group py-1' %><br>
     <%= @ticket.category %><br>

     <%= f.label :title, "題名", class: 'form-group py-1' %><br>
     <%= @ticket.title %><br>

     <%= f.label :comment_summary, "説明大項目", class: 'form-group py-1' %><br>
     <%= @ticket.comment_summary %><br>

     <%= f.label :comment_descriptive, "説明小項目", class: 'form-group py-1' %><br>
     <%= @ticket.comment_descriptive %><br>

     <%= f.label :status, "ステータス", class: 'form-group py-1' %><br>
     <%= @ticket.status %><br>

     <%= f.label :PIC, "担当者", class: 'form-group py-1' %><br>
     <%= @ticket.PIC %><br>

     <%= f.label :related_ticket1, "関連チケット1", class: 'form-group py-1' %><br>
     <%= @ticket.related_ticket1 %><br>

     <%= f.label :related_ticket2, "関連チケット2", class: 'form-group py-1' %><br>
     <%= @ticket.related_ticket2 %><br>

     <%= f.label :related_ticket3, "関連チケット3", class: 'form-group py-1' %><br>
     <%= @ticket.related_ticket3 %><br>

     <%= f.label :start_date, "開始日", class: 'form-group py-1' %><br>
     <%= @ticket.start_date %><br>

     <%= f.label :due_date, "期日", class: 'form-group py-1' %><br>
     <%= @ticket.due_date %><br>

     <%= f.label :progress_rate, "進捗率", class: 'form-group py-1' %><br>
     <%= @ticket.progress_rate %><br>

     <%= f.label :watcher, "チケットのウォッチャー", class: 'form-group py-1' %><br>
     <p>今はユーザーのIDのみを配列で表示</p>
     <%= @ticket.user_ids %><br>
         <% end %>

     <%= link_to '編集', edit_ticket_path(@ticket), class: "btn btn-outline-info my-1 mp-1" %>
     <%= link_to '戻る', :back, class: 'btn btn-dark' %>



   </article>
　　</div> <!-- card.// -->
   </div>

 </body>
