<div class="project-detail">
	<h1><%= @project.title %></h1>
	<h3><%= @project.sub_title %></h3>
	<img src=<%= @project.image %>>

	<h2>基本情報</h2>
	<div class="content basic-info">
		<div class="row">
			<div class="col-3">
				<div class="item">
					主催
				</div>
			</div>
			<div class="col-9">
				<div class='item-info'>
					<%= @project.client %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="item">
					期間
				</div>
			</div>
			<div class="col-9">
				<div class='item-info'>
					<%= @project.period %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="item">
					場所
				</div>
			</div>
			<div class="col-9">
				<div class='item-info'>
					<%= @project.place %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="item">
					サービス内容
				</div>
			</div>
			<div class="col-9">
				<div class='item-info'>
					<%= @project.service %>
				</div>
			</div>
		</div>
	</div>

	<h2>要素技術</h2>
	<div class="content technology">
	</div>

	<h2>考察</h2>
	<div class="content comment">
	</div>
</div>