<body>
<div class="container">
<br>  <h2 class="text-center">ログイン</h2>
<hr>
    </div>



<div class="container">
<div class="card mx-auto col-8 float-center bg-secondary">
<article class="card-body">
<h4 class="card-title mb-4 mt-1">サインイン</h4>
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   
      <%= f.label :email, "email", class:'form-group py-1' %><br>
      <%= f.text_field :email %><br>

      <%= f.label :password, "パスワード", class:'form-group py-1' %><br>
      <%= f.text_field :password %><br>

    <div class="checkbox  pt-5">
      <label> <input type="checkbox">パスワードの保存</label>
    </div> <!-- checkbox .// -->
    </div> <!-- form-group// -->

      <%= f.submit "ログイン", class: "d-block mx-auto col-8 btn btn-outline-primary my-3" %><br>
    </div>

    <% end %>
          <%= render "devise/shared/links"%>

</body>
