<body>
<div class="row">
  <h1 class="col-12 text-center ">　参加中ダッシュボード</h1>
</div>

<div class="row">
    <%= link_to '新規作成', new_dashboard_path, class: "mx-auto btn btn-outline-info btn-md " %>
</div>

    <div class="row">

  <% @dashboards.each do |d| %>
  <% lis = d.user_ids %>
  <% if lis.include?(current_user.id) %>

  <div class="card col-sm-5 float-left bg-secondary mb-5 m-3">
    <div class="card-body py-3">

      <p><%= d.name %></p><br>
      <p><%= d.notice %></p><br>

      <%= link_to '詳細', dashboard_path(d.id), class: "btn btn-outline-info my-1 mp-1" %>
      <%= link_to '削除', dashboards_path(d.id), method: :delete, class: "btn btn-outline-danger mb-1" %>
      <%= link_to '戻る', :back, class: 'btn btn-dark my-2'%>

    </div>
  </div>

  <% end %>
  <% end %>
    </div>
</body>
