  <body>
    <%= render 'layouts/header' %>
    <h1 class="text-center">ダッシュボード</h1>

      <div　class="text-left">
        <h2>サマリ</h2>
      </div>

      <div　class="text-left">
        <h2>お知らせ</h2>
        <form>
          <div class="form-group">
          <label for="ab-description">説明大項目</label>
    　　  <textarea class="form-control" rows="2"　id="ab-description" placeholder="タスク進捗状況の概要を記載してください。" required></textarea>
          </div>
        </form>
      </div>

      <div class="text-left">
        <h2>要確認チケット</h2>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>カテゴリ</th>
        <th>題名</th>
        <th>担当者</th>
        <th>ステータス</th>
        <th>開始日</th>
        <th>期日</th>
        <th>進捗率</th>
        <th>ウォッチャー</th>
        <th>操作</th>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <th><%= ticket.id %></th>
          <th><%= ticket.category %></th>
          <th><%= ticket.title %></th>
          <th><%= ticket.PIC %></th>
          <th><%= ticket.status %></th>
          <th><%= ticket.start_date %></th>
          <th><%= ticket.due_date %></th>
          <th><%= ticket.progress_rate %></th>
          <th><%= ticket.watcher %></th>
          <th>
            <%= link_to '詳細', ticket_path(ticket), class: "btn btn-outline-info my-1 mp-1" %>
            <!-- TODO 削除機能の実装 -->
            <%= link_to '削除', ticket_path(ticket), method: :delete, class: "btn btn-outline-danger mb-1" %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>

      </div>
  </body>
</html>
