<!DOCTYPE html>
<html>
  <head>
    <title>Task4U</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- 	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p> -->


    <%= yield %>
  </body>
  <footer>
    <nav class="navbar navbar-dark bg-dark justify-content-end">
    <% if user_signed_in? %>
    <span class="navbar-brand">
      <%= link_to "ログアウト", destroy_user_session_path, class: "btn btn-outline-light", method: :delete %>
    </span>
    <% end %>
    </nav>
  </footer>
</html>
